<!doctype html>
<html lang="en">
<head>
  <title>A Compliment</title>
</head>
  <h2>
    Hi {{ person }}! I think you're {{ compliment }}!
  </h2>
<br>
  <p> 
 
      <form action="/game">

      <legend>Would you like to play a game with me?</legend>
      
      <input id="yes" type="radio" name="game-play" value="yes">
      <label for="yes">Yes!</label>
      
      <input id="no" type="radio" name="game-play" value="no">
      <label for="no">No, thanks</label> 
    
      <br>
      
      <input type="submit" name="submit" value="Submit!">
    
  </p>
</body>

</html>